@media print, screen {
  div {
    &.container {
      background-image: url("/images/background-cloud.jpg");
    }
    div {
      &.c-padding {
        padding: 10px;
      }
    }
    .adjust-margin {
      margin-right: 5px;
    }

    .contacts-list {
      .badge {
        padding: 1px 7px;
        font-size: 19px;
      }
      h4 {
        display: inline;
      }
    }

    .toggle-area {
      .oi {
        cursor: pointer;
      }
      .adjust-icon-position {
        margin-top: 3px;
      }
    }

    .oi-plus {
      color: #006400;
      font-size: 25px;
    }

    .oi-magnifying-glass {
      font-size: 25px;
    }

    .c-height-50 {
      min-height: 50px;
    }
  }
}